.grid-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 55px 1fr 2fr 2fr 2fr 3fr 1fr;
}

/* .grid-container-project {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1000;
    right: -2000;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 55px 1fr 2fr 2fr 2fr 3fr 1fr;

} */

.grid-container-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 55px 1fr 2fr 2fr 2fr 3fr 1fr;

}

.content-box {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
    min-width: 250px;
}

@media only screen and (max-width: 577px) {
    .content-box {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 5;
        grid-row-end: 6;
        min-width: 250px;
        /* margin-left: -25px !important; */
    }
}

@media only screen and (max-width: 375px) {
    .content-box {
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row-start: 5;
        grid-row-end: 6;
        min-width: 250px;
        /* margin-left: -25px !important; */
    }
}

.content-logo {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
    min-width: 250px;
}

@media only screen and (max-width: 1380px) {
    .content-logo {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 6;
        min-width: 250px;
        margin-left: 30px !important;
    }
}

@media only screen and (max-width: 1114px) {
    .content-logo {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 6;
        min-width: 250px;
        margin-left: 5px !important;
    }
}

@media only screen and (max-width: 887px) {
    .content-logo {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 6;
        min-width: 250px;
        margin-left: -1px !important;
    }
}

@media only screen and (max-width: 769px) {
    .content-logo {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 6;
        min-width: 250px;
        margin-left: -15px !important;
    }
}

@media only screen and (max-width: 577px) {
    .content-logo {
        grid-column-start: 6;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 6;
        min-width: 250px;
        margin-left: -35px !important;
    }
}

.content-logo-about {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    min-width: 60px;
}

.content-about-img {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    min-width: 250px;
}

.content-about-midline {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    min-width: 250px;

}

.content-line-bg {
    /* grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 7;
    min-width: 100%; */
}

.content-about-me {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 7;

}

/* .icon-container {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 10;
}

.logo-container {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 10;
    text-align: center;
}

.modalWrap {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 13;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.modalBoxTop {
    grid-row-start: 1;
    grid-row-end: 2;
}

.modalBoxBottom {
    grid-row-start: 2;
    grid-row-end: 3;
}

.country-table-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    min-width: 200px;
}

.intro-modal {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 7;
    grid-column-end: 10;
} */